@model SMA_21296.Models.ReceitaMedicamento

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Tem a certeza de que quer eliminar este registo?</h3>
<div>
    <h4>Receita Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Laboratorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receita.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosagem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
