@model IEnumerable<SMA_21296.Models.ReceitaMedicamento>

@{
    ViewData["Title"] = "Recitas-Medicamentos";
}

<h1>Recitas-Medicamentos</h1>

@if (User.IsInRole("Medico") || User.IsInRole("Admin")) {
    <p>
        <a asp-action="Create">Nova Recita-Medicamento</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento.Laboratorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receita.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosagem)
            </td>
            @if (User.IsInRole("Medico") || User.IsInRole("Admin")) {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
